.Databoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Databoard a{
    margin-bottom: 1rem;
}
.Databoard button{
    background-color: #3275cc;
    color: aliceblue;
}
