.Databoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Databoard button{
    background-color: #3275cc;
    color: aliceblue;
    width: 100%;
    margin: 1rem 0;
}
.Databoard a{
    width: 100%;
}
