    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
    }



    nav {
        background: rgb(226, 51, 151);
        background: linear-gradient(15deg, rgba(226, 51, 151, 1) 0%, rgba(69, 67, 255, 1) 100%);        margin: auto;
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        border-radius: 0.5rem;
    }

    nav a {
        color: white;
        font-weight: 500;
        display: inline-block;
        padding: 8px 12px;
        border-radius: 5px;
        background-color: #21355593;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border-color: none;
    }