.paymentView{
    background-color: aquamarine;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}
.PaymentIteam .Today{
    background-color: rgb(0, 241, 201);
    border-radius: 0.4rem;
    text-align: center;
    margin: 0 0.5rem;
    font-weight: 500;
}